body {
  background: linear-gradient(180deg, rgba(15, 0, 47, 1) 0%, rgba(37, 0, 112, 1) 100%);
  color: white;
}

.container-game {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 85vh;
  justify-content: flex-start;
  margin: 0 auto;
  overflow-y: hidden;
  padding-top: 5%;
  width: 50vw;
}

.logo-trivia img {
  width: 150px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding: 10px 0 0;
}

.info-player {
  align-items: center;
  display: flex;
  font-size: 20px;
}

.info-player img {
  border-radius: 50%;
  margin-left: 8px;
  width: 40px;
}

.info-game {
  align-items: center;
  display: flex;
  font-size: 30px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.answer button {
  cursor: pointer;
  padding: 10px;
}

.buttonNext {
  background-color: transparent;
  border: 1px solid var(--verde);
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin: 7px 0;
  padding: 6px;
  transition: all 0.4s ease-out;
  width: 50%;
}

.containerBtnNext {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.buttonNext:hover {
  background-color: var(--verde);
  color: var(--roxo-fundo);
}

.game p:nth-child( 1 ) {
  font-weight: 700;
}

.game p:nth-child( 2 ), .game p:nth-child( 3 ) {
  font-size: 20px;
}
