body {
  background: rgb(15, 0, 47);
  background-image: linear-gradient(180deg, rgba(15, 0, 47, 1)
  0%, rgba(37, 0, 112, 1) 100%);
  color: white;
  height: 100vh;
  overflow: hidden;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding-top: 10px;
}

header img {
  width: 150px;
}

header button {
  background-color: transparent;
  border: 1px solid var(--verde);
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin: 7px 0;
  padding: 10px 0;
  transition: all 0.4s ease-out;
  width: 10%;
}

header button:hover {
  background-color: var(--verde);
  color: var(--roxo-fundo);
}

.container-ranking {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.container-ranking img {
  border-radius: 50%;
}

.container-ranking ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-ranking li {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
}

.container-ranking li:nth-child( 1 ) {
  animation: pulse 0.6s infinite;
  animation-direction: alternate;
  animation-name: pulse;
  color: gold;
}

.container-ranking li:nth-child( 2 ) {
  color: silver;
}

.container-ranking li:nth-child( 3 ) {
  color: #cd7f32;
}

.container-ranking li p {
  font-size: x-large;
  text-align: center;
  width: 25%;
}

@keyframes pulse {

  0% {
    filter: brightness(100%);
    transform: scale(1);
  }

  100% {
    filter: brightness(200%);
    transform: scale(1.1);
  }
}
