.title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.form-settings {
  background-color: lightgray;
  border: solid darkblue 1px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60vh;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.form-settings label {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.form-settings span {
  font-size: large;
  font-weight: 700;
  margin: auto;
}

.form-settings select {
  cursor: pointer;
  margin: auto;
  padding: 5px;
  width: 80%;
}

.form-settings [ type = 'number' ] {
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 20%;
}

.buttons-settings {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 100%;
}

.buttons-settings input {
  background-color: transparent;
  border: 1px solid darkblue;
  color: black;
  cursor: pointer;
  font-weight: 600;
  margin: 7px 0;
  padding: 1% 6%;
  transition: all 0.4s ease-out;
}

.buttons-settings input:hover {
  background-color: var(--verde);
  color: var(--roxo-fundo);
}
